Welcome everyone to the problem set page. We'll be working on these problems as we progress at the beginning of each class! We recommend you to copy and paste the below starter code to get started and proceed to work on these problems on your own Jupyter notebook environment.

Problem Set #1
1. Write a function named yeet that takes three parameters: a, b, c. Make and return a list with those three parameters.

2. Use yeet to return yourself a list and then write a for loop that prints out each entry of the list.

3. Write a new function broski that takes three parameters: x, y, z. Take the sum of all three numbers and return the result. (Challenge: is there a way to check if the parameters x, y, z are integers when running the function to avoid someone putting in strings into the function?)

4. Write a function substring that takes one parameter: a. Return the first 4 characters of a. (Think about again like in problem 3, how would I prevent someone running substring(10) instead of substring("hello") and what if someone put in a string that is less than 4 characters?)

5. Edit function substring to take two parameters: a, b that return the first b characters of a.

Problem Set #2

In [14]:
from sklearn import datasets
import pandas as pd
import matplotlib.pyplot as plt
#this next line allows you to make graphs inside your notebook!
%matplotlib inline
#this is calling "datasets" from sklearn library to pull the iris dataset
iris = datasets.load_iris()
#this is to make it a nice format for us to look at
iris = pd.DataFrame(iris.data, columns = iris.feature_names)
#this will help us take a look at the data
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Answers to Problem Set #1

In [35]:
#Problem 1
def yeet(a, b, c):
    f=[]
    f.append(a)
    f.append(b)
    f.append(c)
    return f

#Problem 2
x = yeet("yo", 3, "yup")
for i in range(0, len(x)):
    print(x[i])
    
# this also would work!
"""
for word in x:
    print(word)
"""
#Problem 3
def broski(x, y, z):
    print(type(x)==int)
    if((type(x)==int) and (type(y)==int) and (type(z)==int)):
        a=x+y+z
        return a
    else:
        print("you didn't enter an integer bozo")
broski(3,4,5)

#Problem 4
def substring(a):
    if((type(a)==str) & (len(a)>=4)):
        return (a[0:4])
    else:
        print('error: you didnot enter a string or it was not long enough')

substring("yooo")

#Problem 5
def substring2(a, b):
    if((type(a)==str) & (len(a)>=4)):
        return (a[0:b])
    else:
        print('error: you didnot enter a string or it was not long enough')
substring2("yooo", 2)

yo
3
yup
True

'yo'